// Developer: Truce Ramcharitar

/////////////////////////////////////////////////////////
// RESETS
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  box-sizing: border-box;

  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px, 8px/16px = 50%
  }
}

body {
  min-height: 100vh;
  font-family: $font-primary;
  font-size: 1.6rem;
  line-height: 1.6;
  color: $color-grey-dark-1;
}

.container {
  // grid settings
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem
    [sidebar-end full-start]
    minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];

  @include respond(tab-port) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      [full-start]
      minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(6rem, 1fr) [full-end];
  }

  @include respond(phone) {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}

/////////////////////////////////////////////////////////
// SCROLL BAR
// width
::-webkit-scrollbar {
  width: 1rem;
}

// track
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $color-secondary;
  border-radius: 0.3rem;
}

// handle
::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 1rem;
}

// handle on hover
::-webkit-scrollbar-thumb:hover {
  background: $color-primary-dark;
}
